.switch {
    position: relative;
    height: 24px;
    width: 180px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 90px;
    line-height: 24px;
    margin-bottom: 0px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    cursor: pointer;
}

.switch-label:active {
    font-weight: bold;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none;
}

.switch-input:checked+.switch-label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -ms-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.switch-input:checked+.switch-label-on~.switch-selection {
    left: 89px;
}

.switch-selection {
    position: absolute;
    z-index: 1;
    left: 1px;
    display: block;
    width: 90px;
    height: 24px;
    border-radius: 3px;
    background-color: rgb(112, 201, 236);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -ms-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

#PlanDetails>tr>td {
    width: 66px;
}

th,
td {
    text-align: center;
}

td {
    cursor: default;
}

th {
    cursor: pointer;
}

#calcTargetValueTool>tr>td {
    width: 65px;
}

/*glyphicon*/
.glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-import:before {
    content: "\e169";
}

.glyphicon-export:before {
    content: "\e170";
}

.glyphicon-remove-sign:before {
    content: "\e083";
}

.glyphicon-remove-circle:before {
    content: "\e088";
}

.glyphicon-plus:before {
    content: "\002b";
}

.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-trash:before {
    content: "\e020";
}

.glyphicon-pencil:before {
    content: "\270f";
}

.glyphicon-arrow-up:before {
    content: "\e093";
}

.glyphicon-arrow-down:before {
    content: "\e094";
}

.input-group-text {
    display: block;
}

.disable-selected-text {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.endable-selected-text {
    cursor: auto;
    user-select: auto;
    -ms-user-select: text;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -o-user-select: auto;
    -moz-user-select: text;
}

/*去除input后面浏览器带的标记*/
input::-webkit-inner-spin-button {
    display: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.calc-target-table>table {
    font-size: 0.82rem;
    table-layout: fixed;
}

.calc-target-table td {
    padding: 0.3rem;
}

.calc-target-table input {
    padding: 3px 6px;
    width: 65px;
    border-radius: 0;
    height: 28px;
    border-bottom: 0;
}

.calc-target-table input:last-child {
    border-right-width: 0;
}

.mission-table {
    max-height: 510px;
    overflow-y: auto;
}

.mission-table th,
.mission-table td {
    padding: 4.8px;
    width: 10%;
    font-size: 0.875rem;
}

.mission-table th {
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
}

.plan-details-table {
    overflow-y: hidden;
}

.plan-details-table>table {
    width: 660px;
    font-size: 0.815rem;
}

.plan-details-table th,
.plan-details-table td {
    padding: 0.2rem;
    cursor: auto;
}

/*分辨率样式*/
@media (min-width: 1400px) {
    .container-fluid {
        padding-left: 200px;
    }
}

@media screen and (max-width: 1560px) and (min-width: 992px) {
    .target-btn-hidden {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .target-btn-hidden {
        display: none;
    }
}
