.input-group .input-group-btn+.input-group-btn,
.input-group .input-group-btn+.input-group-span,
.input-group .input-group-span+.input-group-span,
.input-group .input-group-span+.input-group-btn {
    margin-left: -1px;
}

.input-group-btn,
.input-group-span,
.input-group-label {
    display: -ms-flexbox;
    position: relative;
    z-index: 2;
}

.input-group-btn {
    margin-left: -1px;
}

.input-group-label:not(:last-child) {
    margin-right: -1px;
}

.input-group-label:not(:first-child) {
    margin-left: -1px;
}

.input-group-btn:focus,
.input-group-span:focus,
.input-group-label:focus {
    z-index: 3;
}

.input-group-regular>.form-control,
.input-group-regular>.custom-select,
.input-group-regular>.input-group-btn,
.input-group-regular>.input-group-span,
.input-group-regular>.input-group-label,
.input-group-regular>.input-group-text {
    padding: 0.3rem 0.7rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.input-group>.input-group-btn:not(:last-child):not(.dropdown-toggle),
.input-group>.input-group-span:not(:last-child),
.input-group>.input-group-label:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.input-group-btn:not(:first-child),
.input-group>.input-group-span:not(:first-child),
.input-group>.input-group-label:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.list-group-item {
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.Saved-List>.list-group-item:last-child {
    border-bottom-width: 0;
}

.btn-group-regular>.btn {
    padding: 0.3rem 0.7rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.Saved-List>.list-group-item {
    padding: 0 1rem;
    font-size: 0.875rem;
}

.Saved-Name {
    padding: 0.64rem 0;
    float: left;
    display: block;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 160px);
}

.Saved-Overview {
    float: right;
    display: flex;
}

.Saved-Overview>div {
    display: inline;
    text-align: center;
    padding-left: 0.8rem;
}
