.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 17px;
    padding-right: 17px;
}

html {
    cursor: wait;
}

body {
    cursor: default;
}

body .wait {
    pointer-events: none;
}

code {
    color: #000000;
}

a {
    cursor: pointer;
}

.switch {
    position: relative;
    height: 24px;
    width: 180px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 90px;
    line-height: 24px;
    margin-bottom: 0px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    cursor: pointer;
}

.switch-label:active {
    font-weight: bold;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none;
}

.switch-input:checked+.switch-label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -ms-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.switch-input:checked+.switch-label-on~.switch-selection {
    left: 89px;
}

.switch-selection {
    position: absolute;
    z-index: 1;
    left: 1px;
    display: block;
    width: 90px;
    height: 24px;
    border-radius: 3px;
    background-color: rgb(112, 201, 236);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -ms-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

th,
td {
    text-align: center;
}

td {
    cursor: default;
}

th {
    cursor: pointer;
}

/*glyphicon*/
.glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAfQAA0AAAAADEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAHtAAAABoAAAAcipDpvUdERUYAAAeYAAAAHAAAAB4AJwAVT1MvMgAAAZgAAABBAAAAYI+d/YJjbWFwAAAB/AAAAHgAAAGeEBhFD2dhc3AAAAeQAAAACAAAAAgAAAAQZ2x5ZgAAApQAAAPEAAAGNKpRyK5oZWFkAAABMAAAAC4AAAA2GC0HU2hoZWEAAAFgAAAAIAAAACQHWAMKaG10eAAAAdwAAAAgAAAAKAoiAN9sb2NhAAACdAAAACAAAAAgB8gJam1heHAAAAGAAAAAGAAAACAAFwBmbmFtZQAABlgAAADcAAABm/pYTdhwb3N0AAAHNAAAAFsAAACX/nfUdnjaY2BkAINNNZ+uxfPbfGXgZgHzb5UlRsHo/5/+O7AYsCQBuRwMTCBRAGlTDJAAAHjaY2BkYGA2/m/CwMDC8P/T/wssBgxAERTACgCDmAVpeNpjYGRgYOBnSGFgZwABJgY0AAAMWwB+eNpjYGZhYJzAwMrAwDST6QwDA0M/hGZ8zWDMyMmAChgFGBpQRRwYGB8WMBv/N2E4w2zMANLPiCSrwMAIAC1aCqQAAAB42mNhgADGUAjNAib/f2JQYAhlEAEyZwAhEAAAO8AECXjaY2BgYGaAYBkGRgYQmAHkMYL5LAw1QFqKQQAowgUUU2DQVud/IPxA4UHzg44HUx5mPiz4//f/f7AuVLnJCLn/T/7fuvFd/ov8C/k2+Sb5CrklcvPANkgx4AKMIPcwsgExM1SACUgwYagCOhAOWBmGIQAATGEnXwAAAAAACAAIABAAGABaAIYAugEWAYgCGgJKAnoCygMaeNqNVM1vG0UUf29nPeNZzxbv2o4xqCSOpd3WRkrljWMiQHU2LeJCJRDrVkqFURvFPaBekBA5gUp7REJRRTlXnOJTKW44UP4L94oQByToBQRSo8Zr3qw3NKYI8Mi/nTfvzZv3DQiHPwNg1YD/Q9tswPagAYBBszxXcqqEx7EoeK3qEDZw0fdaTpXwVVxurwRVhxA/HrhKYcNVtq3ceKSUSwd2/MC1lbJdrNuK7amEY7u7mjNyNMfBBsnvkpS+q7QlbPLbZGJKswQK8lAgO5rzOFcqPoM+vVZAX2KmwHp5dU2pt/feVHkc/75nqHgr/vEds5S7pvKOOnfvLRXfHv9xz1AHv76LL2i9CAvQNE+xHSBS4kowVSuQ1xZ99FrLp9OzoNnGT/EnkZX8lhDjTS4lj78R4haXWbHDpcXxS2ITnZVifFkIfD2V3eEcQEAEtgnmJXgWjkMdlmAZXoJXyIBpJIMEqy2K2suoMdBUFZ0kxNPgZpzAqQWHoBcOEGqVyi9ZwQ8iweXPz1VqCBPKG23GA2IxGEdRNIii3W4UmZcqlVqXc9npSM67xI663QlJ0I44xqA7HhjR0T9pKsICe8j2KU5v6KiX5/SiCHG9KEieXtpivYLyImXEqxHyUnEeRYIUvNNYTnCltbyE7QS9mgGbGxvroe95fri+sbE5S23nsltb2ZyV/TCrN/Sxnj5h+763HiZ3L4ahT78wvJhoCtc9/4cjF/silxPbQvT7gj6076eqgAFMOiawDsxDGy7/t5flRX1aKmoZqosV7Y/mpxVZTpBuLaFIMCkj/0kxUZyaBlzp9c6cPXnixMmzZ3q9K7NU//yFZhA0L5zv/7XzVjm/epXzVV1rtLEkf+qEdf5RW0rdmFU43Q3/TV96kvTJFzQD7lMdPK/7ZE63/JHG1xFqa+fKxmv4Xs403Ud20uxq3zXNHB05+Rx7GIfHpBXX0yZ/YMlj+J1tQ6p/gd03ba0/nTEaDxtRt4UeKQGO9Ah5pLXGN3N5RyM9t09jxEymTMOybHpHa7YsHJGw1m+mM+wxzY95eBFOARTaSTJEktcMZXWuxHSyM+QLpauddmbSk0GmFLTe31auq8JhSDPt27tKSgP18DJcxtSdT4bxRyyi1w4iGmbGKGIfbCsSXrPpzmdfK5O5MTq2jVKqOzeG49tk60hb163Xn9hH/hcO7cOMLsECBZnqyG9TgGnQHSko9nf7sIETCm3ywvXh9buKme7NNdtxFVmy9v2MdaZNxtuONt5UXyXSUo61a1Mn489n7PsTZE8ipnjadc6xasJQGMXxfzRatCCdSul0R6eg4AN0KnVw6SAdG+MlBPReiBF07yN07DP0YXwiT8K3JnDD7zs35yPAjH8S2ifhgSfzQJ6bh/KbOZW/zCMeuZjHyn/NU165qZWkEyWzbkPrgfxiHsoLcyp/mEc8820eK/8xT1nxR0VB5KgTCVAV8Rij8Imn5MyBnFqjL8+HXOj7vi/fak/NSfdt7liS6S/Z+vpUxeCW2aK/+97NjVqltoRuU67Zs1e246r3uuturJupFEPjSh98nTd+73ZXty7iRvsy7uXbPkN42n3HSw5AMBRG4fu3qFfYym2JtgtgK0hETAzsXrQdO5MvhwT91xNBkIAkSR0y5CigUKJCjQZtsR7PtWl1nzszB43l5XNmPUQNR11656I+vR+DevJRyy9qSxiwAAABAAH//wAPeNpjYGRgYOABYjEgZmJgBEI+IGYB8xgABDgAPXjaY2BgYGQAgqtL1DlA9K2yxCgYDQA8bwXAAAA=) format('woff');
}

.glyphicon-import:before {
    content: "\e169";
}

.glyphicon-export:before {
    content: "\e170";
}

.glyphicon-remove-sign:before {
    content: "\e083";
}

.glyphicon-remove-circle:before {
    content: "\e088";
}

.glyphicon-plus:before {
    content: "\002b";
}

.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-trash:before {
    content: "\e020";
}

.glyphicon-pencil:before {
    content: "\270f";
}

.glyphicon-arrow-up:before {
    content: "\e093";
}

.glyphicon-arrow-down:before {
    content: "\e094";
}

.input-group-text {
    display: block;
}

.disable-selected-text {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/*去除input后面浏览器带的标记*/
input::-webkit-inner-spin-button {
    display: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.mission-table {
    max-height: 510px;
    overflow-y: auto;
}

.mission-table th,
.mission-table td {
    padding: 4.8px;
    width: 10%;
    font-size: 0.875rem;
}

.mission-table th {
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
}

.plan-details-table {
    overflow-y: hidden;
}

.plan-details-table>table {
    width: 660px;
    font-size: 0.815rem;
}

.plan-details-table th,
.plan-details-table td {
    font-size: 14px;
    padding: 0 0.2rem;
    cursor: auto;
    width: 66px;
}

.result-table th,
.result-table td {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.container-fluid {
    min-width: 300px;
    background-color: #FFFFFF;
}

.alert {
    font-size: 0.875rem;
}

.dropdown-menu-input {
    padding: 0.2rem 0.5rem;
}

/*分辨率样式*/
@media (min-width: 1400px) {
    .container-fluid {
        padding-left: 200px;
    }
}

@media (min-width: 992px) {
    .SavedAndMissionTableAndPlanDetailsCard {
        padding-left: 0;
    }

    .Demand {
        padding-left: 1.25rem!important;
    }

    .PC-addTimePeriod  {
        padding-left: 1.25rem!important;
    }
}

@media (max-width: 1400px) {
    .container-fluid {
        padding: 0;
    }
}

@media screen and (max-width: 1560px) and (min-width: 992px) {
    .target-btn-hidden {
        display: none;
    }
}

@media screen and (max-width: 318px) {
    .target-btn-hidden {
        display: none;
    }
}

.header {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.footer_card {
    padding: 5px 15px;
    font-size: 0.815rem;
}

.config_card {
    margin-top: 2rem;
}

@media (max-width: 1055px) {
    .config_card {
        margin-top: 0;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 0 0.25rem;
        margin-top: 1rem;
    }
    .config_card {
        padding: 0 0.25rem;
    }
    .alert_card {
        padding: 0 0.25rem;
    }
    .setting_card {
        padding: 0;
    }
    .SavedAndMissionTableAndPlanDetailsCard {
        padding: 0;
    }
    .result_card {
        padding: 0;
    }
    .footer_card {
        padding: 0.25rem;
    }
}

.box-wrap {
    border: 1px solid #000000;
    border-radius: 0.5rem;
    position: relative;
    margin: 0.75rem -0.5rem;
    padding: 0.8rem 0.4rem 0 0.4rem;
    width: fit-content;
}

.box-title {
    position: absolute;
    top: -1rem;
    background-color: #ffffff;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
}
