.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    top: 27px;
    left: 19px;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #007bff;
}

.tooltip.bottom .tooltip-arrow {
    top: -5px;
    left: 19px;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #007bff;
}

.tooltip.right .tooltip-arrow {
    top: 13px;
    left: -5px;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #007bff;
}

[slider] .custom-tooltip {
    z-index: 100;
}

.custom-tooltip {
    display: inline-block;
    margin: 10px 20px;
    opacity: 1;
    position: absolute;
}

.custom-tooltip .tooltip-inner {
    background: #007bff;
    max-width: 40px;
    width: 40px;
    padding: 3px 0px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
}

[slider] {
    position: relative;
    height: 14px;
    border-radius: 10px;
    text-align: left;
    margin: 36px 0 15px 0;
}

[slider]>div {
    position: absolute;
    left: 7px;
    right: 14px;
    height: 14px;
}

[slider]>div>[inverse-left] {
    position: absolute;
    left: -4px;
    height: 14px;
    border-radius: 10px;
    background-color: #dee2e6;
    margin: 0 7px;
}

[slider]>div>[inverse-right] {
    position: absolute;
    right: -12px;
    height: 14px;
    border-radius: 10px;
    background-color: #dee2e6;
    margin: 0 7px;
}

[slider]>div>[range] {
    position: absolute;
    left: 0;
    height: 14px;
    border-radius: 14px;
    background-color: rgb(112, 201, 236);
}

[slider]>div>[thumb] {
    position: absolute;
    top: -4px;
    z-index: 2;
    height: 22px;
    width: 22px;
    text-align: left;
    margin-left: -7px;
    cursor: pointer;
    background-color: rgb(112, 166, 236);
    border-radius: 50%;
    outline: none;
}

[slider]>input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: 6px;
    left: 0;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}

div[slider]>input[type=range]::-ms-track {
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider]>input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider]>input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
}

div[slider]>input[type=range]:focus {
    outline: none;
}

div[slider]>input[type=range]::-ms-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider]>input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider]>input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
}

div[slider]>input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}

div[slider]>input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}

div[slider]>input[type=range]::-ms-tooltip {
    display: none;
}

[slider]>div>[sign] {
    opacity: 0;
    position: absolute;
    margin-left: -10px;
    top: -36px;
    z-index: 3;
    background-color: rgb(112, 201, 236);
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

[slider]>div>[sign]:after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 16px;
    top: 19px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: rgb(112, 201, 236);
}

[slider]:hover>div>[sign] {
    opacity: 1;
}

.slider-button {
    position: absolute;
    background-color: rgb(225, 83, 97);
    border: none;
    color: #000000;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0;
    margin: -4px -7px;
    border-radius: 100%;
    cursor: pointer;
}

.slider-button:focus {
    background-color: #c82333;
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
    outline:0 none !important;
}

.slider-Tooltip-bottom {
    top: 10px;
    margin-left: -15px;
    cursor: default;
}

.slider-Tooltip-top {
    top: -43px;
    margin-left: -15px;
    cursor: default;
}

.slider-button>.glyphicon {
    top: 0;
}
